.contenido {
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 160px;
  margin-bottom: 160px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 120px;

  background-color: #85eadafa;
  padding: 40px 0;
}

.menu a {
  font-size: 65px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.menu a:hover {
  color: rgba(255, 255, 255, 0.875);
}



p {
  font-size: 75px;
  text-align: center;
}

.personal h1 {
    font-size:150px;
    text-align: center;
}

.contenedorImgs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorImgs .imagenPersonal1 img {
  width: 1400px;
  height: auto;
  margin-left: 1100px;
}

.contenedorImgs .imagenPersonal2 img {
  width: 1400px;
  height: auto;
  margin-right: 1100px;
}



.contenedorDatoFreak {
  display: flex;
  justify-content: stretch;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 160px;
}

.dfTitulo {
  background-color: #85eadafa;
  color: black;
  width: 180px;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dfTitulo h3 {
  margin: 0;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

.dfTexto {
  flex: 1;
  padding: 20px;
}

.contenedorDatoFreak a {
  color: rgb(255, 0, 0);
}