.contenido {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;

  background-color: #85eadafa;
  padding: 15px 0;
}

.menu a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.menu a:hover {
  color: rgba(255, 255, 255, 0.875);
}

p {
  font-size: 18px;
  text-align: center;
}

.personal h1 {
  font-size: 50px;
  text-align: center;
}


.contenedorImgs {
  display: flex;
  gap: 0px;
}

.contenedorImgs .imagenPersonal1 img,
.contenedorImgs .imagenPersonal2 img {
  width: 350px;
  height: auto;
}

.seccion-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}

.tabla {
  margin-left: 40px;
  margin-top: 100px;
}

.tabla table {
  border-collapse: collapse;
}

.tabla th,
.tabla td {
  border: 1px solid black;
  padding: 8px 12px;
  font-size: 18px;
  text-align: center;
}

.tabla th {
  background-color: lightgray;
}

.contenedorDatoFreak {
  display: flex;
  justify-content: stretch;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 60px;
}

.dfTitulo {
  background-color: #85eadafa;
  color: black;
  width: 120px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dfTitulo h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.dfTexto {
  flex: 1;
  padding: 20px;
}

.contenedorDatoFreak a {
  color: rgb(255, 0, 0);
}